html {
  font-size: 1em;
    background-color: #4076bc;
  }

body {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  
}

img,
picture,
video {
  max-width: 100%;
}
  h1 {
    padding: 20px 0;
    text-align: justify;
    text-size-adjust:inherit;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 3px 1px black;
  }
  h2{
    text-align: justify;
  }

  .content {
    margin:0 auto; /* this will center the page */
    width:960px; /*  use your width here */
    max-width: 100%;
 }
  

